@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@500;600&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

body {
  background-color: #f7f3ec;
  color: #1b1b1b;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
.font-display {
  font-family: "Fraunces", serif;
}

a {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}
